.episodes {
  height: 100vh;
}

@media only screen and (max-width: 560px) {
  .episodes {
    margin-top: 80px;
  }
 }

.pod-player {
  /* border: 1px solid black; */
  width: 95%;
  height: 500px;
  margin-top: 50px;
  padding-left: 40px;
  overflow: hidden;
}

@media only screen and (max-width: 560px) {
  .pod-player {
    padding-top: 20px;
    width: 85%;
    height: 95%;
  }
 }
