/* NavBar universal styles */

.navbar {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  /* grid-area: nav; */
  align-items: center;
  justify-items: center;
  position: relative;
}

/* Nav element styles */

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-column-start: 3;
  margin-right: 50px;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 300;
}

.nav-links li {
  white-space: nowrap;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
}



/* Logo image styles */

.logo img {
  display: grid;
  width: 5em;
  margin-right: 20px;
}

