/* NavBar universal styles */

.NavBar {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-area: nav;
  border-bottom: 1px solid black;
  align-items: center;
  justify-items: center;
}

@media (min-width: 700px) {
  .NavBar {
    display: grid;
  }
}

/* Nav element styles */

.NavBar ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 3 / span 1;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 300;
}

.NavBar li {
  padding-right: 20px;
  text-decoration: none;
  white-space: nowrap;
}

.NavBar a {
  text-decoration: none;
  color: inherit;
}

.NavBar a:hover {
  font-weight: bold;
}

/* Logo image styles */

.Logo img {
  display: grid;
  width: 5em;
}
