/* NavBar universal styles */
.navbar {
  display: grid;
  grid-template-rows: 90% 10%;
}

/* @media only screen and (max-width: 560px) {
  .navbar {
    display: flex;
    padding: 10px;
  }
 } */

 /* Logo image styles */
 .logo {
   display: grid;
   place-self: center;
   padding: 20px;
 }

 .logo img {
   width: 200px;
 }
 
 /* @media only screen and (max-width: 560px) {
   .logo img {
     display: flex;
     padding: 10px;
   }
  } */

/* Nav elements styles */
.nav-links {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-start: 2;
  font-size: 1.2rem;
  font-weight: 400;
  justify-items: center;
  
}

.nav-links a {
  color: inherit;
}

.nav-links a:hover {
  font-weight: bold;
}

/* @media only screen and (max-width: 560px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    padding: 80px;
    margin-top: 70px;
  }
 } */



