/* Universal Home styles */

.home {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 50px 250px 800px;
}

.home p {
  font-family: Spartan;
  font-size: 2rem;
  z-index: 1;
  }

/* Home element styles */

.bg-image {
  position: relative;
  grid-column: 1 / -1;
  opacity: 15%;
  border-radius: 25%;
  margin: 0 auto;
  width: 1000px;
}

.topline {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;
  align-self: start;
}

.bottomline {
  display: grid;
  grid-column-start: 2;
  grid-row: 3;
  justify-self: center;
  align-self: end;
}


.founder-photo {
  /* display: none; */
  position: absolute;
  border-radius: 42%;
  width: 800px;
  top: 35%;
  left: 23%;
}


