/* Universal Home styles */

.Home {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
}

.Home p {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Home element styles */

.topline {
  grid-column: 2 / span 1;
  grid-row: 1;
  justify-self: center;
}

.bottomline {
  grid-column: 2 / span 1;
  grid-row: 3;
  justify-self: center;
}

.bg-image {
  grid-column: 1 / -1;
  opacity: 40%;
  border-radius: 25%;
  margin: 0 auto;
  width: 1000px;
}

.founder-photo {
  display: none;
  position: absolute;
  border-radius: 50%;
  width: 500px;
  top: 45%;
  left: 37%;
}


