/* Universal Home styles */

.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 80% 10%;
}

@media only screen and (max-width: 560px) {
 /* .home {
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
    max-width: 100%;
    margin-top: 20px;
 } */
}

.home p {
  font-family: Spartan;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 300;
  }

@media only screen and (max-width: 560px) {
  .home p {
      text-align: center;
      font-size: 1.1rem;
      padding: 10px;
  }
}

/* Home element styles */
.topline {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;
  align-self: start;
  width: 500px;
}

@media only screen and (max-width: 560px) {
  .topline {
    display: flex;
  }
}

.bottomline {
  display: grid;
  grid-column-start: 2;
  grid-row: 3 / span 1;
  justify-self: center;
  align-self: end;
}

@media only screen and (max-width: 560px) {
  .bottomline {
    display: flex; 
  }
 }

.cheers-photo {
  display: grid;
  z-index: 1;
  grid-column-start: 2;
  grid-row-start: 2;
  border-radius: 42%;
  width: 800px;
  justify-self: center;
  align-self: start;
}

@media only screen and (max-width: 560px) {
  .cheers-photo {
    display: none;
  }
 }