/* Universal Home styles */
.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 80% 10%;
  margin-top: 40px;
}

@media only screen and (max-width: 560px) {
 .home {
    display: grid;
    grid-template-rows: 100px 350px 150px;
    margin-bottom: 100px;
    margin-top: 30px;
 }
}

.home p {
  font-family: Spartan;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 300;
}

@media only screen and (max-width: 560px) {
  .home p {
    font-size: 1.6rem;
    font-weight: 400;
  }
}

/* Home element styles */
.topline {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;
  align-self: start;
  width: 500px;
}
@media only screen and (max-width: 560px) {
  .topline {
    display: grid;
    grid-row-start: 1;
    place-self: center;
    overflow: hidden;
    max-width: 375px;
  }
}

.cheers-photo {
  display: grid;
  z-index: 1;
  grid-column-start: 2;
  grid-row-start: 2;
  border-radius: 42%;
  width: 800px;
  justify-self: center;
  align-self: start;
}

@media only screen and (max-width: 560px) {
  .cheers-photo {
    width: 400px;
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
  }
 }

.bottomline {
  display: grid;
  grid-column-start: 2;
  grid-row: 3 / span 1;
  justify-self: center;
  align-self: end;
}

@media only screen and (max-width: 560px) {
  .bottomline {
    display: grid; 
    grid-row-start: 3;
    align-self: center;
  }
 }
