.footer {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 1rem;
  }

  .footer ul {
    list-style: none; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / -1;
  }

  .footer li {
      justify-self: center;
      white-space: nowrap;
  }
