/* Sit With Us container styles */
.sitwithus {
  display: grid;
  padding: 40px;
  margin-top: 20px;
}

.sitwithus img {
  max-width: 275px;
  padding: 20px;
  border-radius: 10%;
}

.sitwithus a {
  color: #E38C67
}

.sitwithus p {
  text-align: center;
  font-size: 1.1em;
}

.sitwithus h2 {
  margin: 0 auto;
}

.sit-name {
  font-family: 'Over the Rainbow', cursive;
  text-align: center;
}

/* Sit With Us container media queries */
@media only screen and (max-width: 560px) {
  .sitwithus {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
 }
@media only screen and (max-width: 560px) {
  .sitwithus img {
    max-width: 175px;
  }
 }
@media only screen and (max-width: 560px) {
  .sitwithus p {
    font-size: 1.3rem;
  }
 }

 /* Alysia container styles */
 .alysia {
   display: grid;
   grid-template-columns: 30% 70%;
   grid-template-rows: 40% 60%;
  }

  .sit-social-alysia {
    display: grid;
    grid-area: 2 / 1;
  }

  .sit-bio-alysia {
    display: grid;
    grid-column-start: 2;
    
  }

  /* Alysia container media queries */
  @media only screen and (max-width: 560px) {
    .alysia {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
  }
   @media only screen and (max-width: 560px) {
    .alysia img {
      place-self: center;
    }
  }
  
  /* Sarah container styles */
  .sarah {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 40% 60%;
  }

  .sit-social-sarah {
    display: grid;
    grid-area: 2 / 1;
  }

  .sit-bio-sarah {
    display: grid;
    grid-column-start: 2;
  }
  

  
  /* Sarah container media queries */
  @media only screen and (max-width: 560px) {
    .sarah {
      display: flex;
      flex-direction: column;
    }
  }
 
  @media only screen and (max-width: 560px) {
    .sarah img {
      place-self: center;
    }
  }
  
  /* Social Media section styles */
  .more {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 1.6rem;
  }
  @media only screen and (max-width: 560px) {
    .more {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
 
  
  /* Font Awesome icon styles */
  /* .fa-instagram {
    color: #E38C67;
  } */

  /* .sitwithus {
    font-size: 1.2rem;
    font-weight: 300;
  }
  
  @media only screen and (max-width: 560px) {
    .sitwithus {
      margin-top: 60px;
    }
   } */