/* Sit With Us container styles */
.sitwithus {
  display: grid;
  grid-template-columns: 300px 75%;
  grid-template-rows: 500px 500px 100px;
  padding: 40px;
  margin-top: 20px;
}

.sitwithus img {
  max-width: 275px;
  padding: 20px;
  border-radius: 10%;
}

.sitwithus a {
  color: inherit;
}

.sitwithus p {
  text-align: left;
  line-height: 1.4em;
}

/* Sit With Us container media queries */
@media only screen and (max-width: 560px) {
  .sitwithus {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
 }
@media only screen and (max-width: 560px) {
  .sitwithus img {
    max-width: 175px;
  }
 }
@media only screen and (max-width: 560px) {
  .sitwithus p {
    font-size: 1.3rem;
  }
 }

 /* Alysia container styles */
 .alysia {
   width: 100%;
   display: grid;
   grid-template-rows: 30% 30% 30%;
   grid-column: 1 / -1;
  }
  .alysia p {
    grid-column-start: 2;
  }

  /* Alysia container media queries */
  @media only screen and (max-width: 560px) {
    .alysia {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
  }
   @media only screen and (max-width: 560px) {
    .alysia img {
      place-self: center;
    }
  }
  
  /* Sarah container styles */
  .sarah {
    display: grid;
    grid-template-rows: 200px 140px 150px;
    grid-column: 1 / -1;
  }
  
  .sarah p {
    grid-column-start: 2;
  }
  
  /* Sarah container media queries */
  @media only screen and (max-width: 560px) {
    .sarah {
      display: flex;
      flex-direction: column;
    }
  }
 
  @media only screen and (max-width: 560px) {
    .sarah img {
      place-self: center;
    }
  }
  
  /* Social Media section styles */
  .more {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1 / -1;
    justify-items: center;
    font-size: 1.8rem;
  }
  @media only screen and (max-width: 560px) {
    .more {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
 
  
  /* Font Awesome icon styles */
  .fa-instagram {
    color: black;
  }

  /* .sitwithus {
    font-size: 1.2rem;
    font-weight: 300;
  }
  
  @media only screen and (max-width: 560px) {
    .sitwithus {
      margin-top: 60px;
    }
   } */