/* Sit With Us container styles */
.sitwithus {
  display: grid;
  padding: 40px;
  margin-top: 20px;
}

.sitwithus img {
  max-width: 275px;
  padding: 20px;
  border-radius: 10%;
}

.sitwithus a {
  color: #E38C67
}

.sitwithus p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
}

.sitwithus h2 {
  margin: 0 auto;
}

.sit-name {
  font-family: 'Over the Rainbow', cursive;
  text-align: center;
}

.social-links {
  display: inline-flex;
  margin: 0 auto;
}

.social-links li {
  padding: 10px;
}



/* Sit With Us container media queries */
@media only screen and (max-width: 560px) {
  .sitwithus {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
 }
@media only screen and (max-width: 560px) {
  .sitwithus img {
    max-width: 175px;
  }
 }
@media only screen and (max-width: 560px) {
  .sitwithus p {
    font-size: 1.3rem;
  }
}


 /* Alysia container styles */
 .alysia {
   display: grid;
   grid-template-columns: 30% 70%;
  }

  .alysia-image-and-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .alysia-name-and-bio {
    display: flex;
    flex-direction: column;
    width: 95%;
  }

  .alysia-bio {
    display: flex;
    flex-direction: column;
  }


  /* Alysia media queries */
  @media only screen and (max-width: 560px) {
    .alysia {
      display: flex;
      flex-direction: column;
    }
  }
  

  /* Sarah container styles */
  .sarah {
    display: grid;
    grid-template-columns: 30% 70%;
   }
 
   .sarah-image-and-social {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
   }
 
   .sarah-name-and-bio {
     display: flex;
     flex-direction: column;
     width: 95%;
   }
 
   .sarah-bio {
     display: flex;
     flex-direction: column;
   }
  

  
  /* Sarah media queries */
  @media only screen and (max-width: 560px) {
    .sarah {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
    }
  }
 

 
  