/* Universal Styles */

input:focus {
  outline: none;
}

/* App Styles */
.App {
  font-family: Spartan, sans-serif;
  background: linear-gradient(rgba(245, 225, 194, 0.75), rgba(245, 225, 194, 0.75)), url(./assets/HTB_Final_Girls_1x1.png);
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
}

h1 {
  padding: .66rem 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
}
