/* Universal Styles */

html {
  font-size: 18px;
}

/* @media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
} */

input:focus {
  outline: none;
}

/* App Styles */

.App {
  font-family: Spartan, sans-serif;
  font-weight: 100;
  background: #F5E1C1;
}

h1 {
  padding: .66rem 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}
